<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/detail.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {{#each recommendations}}
      <div class="w-container tile">
        <div class="w-clearfix recommendationheader">
          <img class="photo" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="image-placeholder.svg">
          <div class="namefield"><strong>{{recommender.first_name}} &nbsp; {{recommender.last_name}}</strong>
            <br><strong>&nbsp;</strong>recommends&nbsp;
            <br><strong>{{recommendee.first_name}} &nbsp; {{recommendee.last_name}}</strong>
          </div>
        </div>
        <div class="descriptionheader"><strong>Why Nathan?</strong>
        </div>
        <p>{{why}}</p>
      </div>
    {{/each}}
  </body>
</html>
