<!DOCTYPE html>
<html>

<head>
  <title>Detail</title>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/detail.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

<body>

  <div class="navigation-bar" id="detail-navigation">
    <div class="left-button">Back</div>
    <div class="right-button">Text</div>
    <div class="mutual-header">Mutual</div>
  </div>

  <div id="user-number"  style="display: none;">{{recommendations.1.recommendee.phone_number}}</div>
  
  {{#each recommendations}}
    <div class="tile">
      <div class="recommendationheader">
        <img class="photo" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="image-placeholder.svg">
        <div class="namefield"><strong>{{recommender.first_name}} &nbsp; {{recommender.last_name}}</strong>
          <br><strong>&nbsp;</strong>recommends&nbsp;
          <br><strong>{{recommendee.first_name}} &nbsp; {{recommendee.last_name}}</strong>
        </div>
      </div>
      <div class="descriptionheader"><strong>Why Nathan?</strong>
      </div>
      <p>{{why}}</p>
    </div>
  {{/each}}


  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
</body>
</html>
