<!DOCTYPE html>
<html>

<head>
  <title>Mutual</title>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/detail.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

<body>

  <div class="navigation-bar" id="detail-navigation">
    <div class="left-button">Back</div>
    <div class="right-button">Text</div>
    <div class="mutual-header">Mutual</div>
  </div>


  {{#each recommendations}}
    <div class="recommendation-tile">
      <div class="tile-header">

        <img class="tile-picture" src="http://{{recommender.picture}}" alt="image-placeholder.svg">
        <div class="tile-header-text">
          {{recommender.first_name}} recommends {{recommendee2.first_name}} 
        </div>
        <img class="tile-picture" src="http://{{recommendee1.picture}}" alt="image-placeholder.svg">

      </div>

      <h5>Why {{recommendee2.first_name}}?</h5>
      <div class="tile-description">{{recommendee1.text}}</div>

    </div>
  {{/each}}

  <div id="user-number"  style="display: none;">{{recommendations.1.recommendee2.phone}}</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
</body>
</html>
