<!DOCTYPE html>
<html>

<head>
  
	<title>Mutual</title>	
	<meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/feed.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">      
</head>

<body>

  <div class="navigation-bar" id="index-navigation">
    <div class="right-button">Recommend</div>
    <div id="mutualHeader" class="mutual-header">Mutual</div>
  </div>

  {{#each recommendations}}
  <div class="recommendation" data-fb-id="{{recommendee2.facebookID}}">

    <img class="recommender-picture" src="http://{{recommender.picture}}" alt="image-placeholder.svg">
    <img class="recommendation-image" src="/images/recommendation_symbol.png" alt="image-placeholder.svg">
    <img class="recommendee-picture" src="http://{{recommendee2.picture}}" alt="image-placeholder.svg">
    <div class="recommendation-description">
      {{recommender.first_name}} recommends that you meet {{recommendee2.first_name}}
    </div>

    </div>
  </div>
  {{/each}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
  
</body>
</html>
