<!DOCTYPE html>
<html>

<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='82884675-1',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
	<title>Mutual</title>	
	<meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">      
</head>

<body>

  <div class="navigation-bar" id="index-navigation">
    <div class="right-button">Recommend</div>
    <div id="mutualHeader" class="mutual-header">Mutual</div>
  </div>


  {{#if recommendations.length}}
    <div id="no-rec-text">You don't have any recommendations right now. Why don't you try recommending some of your friends? Tap the "Recommend" button on the top-right corner of the screen.</div>
  {{else}}
    {{#each recommendations}}
    <div class="recommendation" data-fb-id="{{recommendee2.facebookID}}">

      <img class="recommender-picture" src="http://{{recommender.picture}}" alt="image-placeholder.svg">
      <img class="recommendation-image" src="/images/recommendation_symbol.png" alt="image-placeholder.svg">
      <img class="recommendee-picture" src="http://{{recommendee2.picture}}" alt="image-placeholder.svg">
      <div class="recommendation-description">
        {{recommender.first_name}} recommends that you meet {{recommendee2.first_name}}
      </div>

      </div>
    </div>
    {{/each}}
  {{/if}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48455838-2', 'mutual.herokuapp.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
